/*****************  button  ******************/
$za-btn-text-color: #ffffff;
$za-btn-primary-bg: #3e81f5;
$za-btn-actived-bg: #28a80a;
$za-btn-disabled-bg: #999;
$za-btn-danger-bg: #fe07ae;

.za-button {
  display: inline-block;
  padding: px2rem(10) px2rem(16);
  border-radius: px2rem(24);
  cursor: pointer;
  background-color: $za-btn-primary-bg;
  color: $za-btn-text-color;
  font-size: px2rem(14);
  line-height: 1;
  white-space: nowrap;

  &:active {
    background-color: darken($za-btn-primary-bg, 10);
  }

  &__actived {
    background-color: $za-btn-actived-bg;

    &:active {
      background-color: darken($za-btn-actived-bg, 10);
    }
  }

  &:disabled {
    background: $za-btn-disabled-bg;
    cursor: not-allowed;
  }

  &__up {
    padding-left: px2rem(36);
    background-image: url("/assets/za-button-icons/up_arrow.png");
    background-repeat: no-repeat;
    background-position: left px2rem(14) center;
    background-size: px2rem(10) px2rem(18);
  }

  &__down {
    padding-right: px2rem(36);
    background-image: url("/assets/za-button-icons/down_arrow.png");
    background-repeat: no-repeat;
    background-position: right px2rem(14) center;
    background-size: px2rem(10) px2rem(18);
  }

  //   .baseline-mid {
  //     vertical-align: middle;
  //   }

  @mixin icon {
    display: inline-block;
    width: px2rem(8);
    height: px2rem(14);
    vertical-align: middle;
  }

  .left-icon {
    @include icon;
    margin-right: px2rem(8);
  }

  .right-icon {
    @include icon;
    margin-left: px2rem(8);
  }
}
