.za-number-card {
    display         : inline-flex;
    align-items     : center;
    min-width       : px2rem(234);
    padding         : px2rem(20);
    background-color: $dialog-background-1;
    color           : $number-card-text-color;
    border-bottom   : 1px solid $dialog-title-color;

    .za-number-card__content {
        margin-left: px2rem(20);
    }

    .za-number-card__title {
        font-size: $text-normal-size;
    }

    .za-number-card__number {
        font-size: px2rem(48);
    }
}