.za-tag {
  display: inline-block;
  color: $za-tag-text-color;
  background-color: $za-tag-success-bg;
  padding: px2rem(4) px2rem(12);

  font-size: $za-tag-font-size;
  white-space: nowrap;
  vertical-align: middle;
}

.za-tag__radius {
  border-radius: px2rem(24);
}
// 正常
.za-tag__ok {
  padding-left: px2rem(30);
  background: $za-tag-success-bg url("/assets/za-tag-icons/tick.png") no-repeat
    left px2rem(8) center / px2rem(16) px2rem(12);
}

// 异常
.za-tag__error {
  padding-left: px2rem(26);
  background: $za-tag-danger-bg url("/assets/za-tag-icons/fork.png") no-repeat
    left px2rem(8) center / px2rem(12) px2rem(12);
}

// 隐患
.za-tag__danger {
  background: $za-tag-danger-bg;
}

// 警告
.za-tag__warning {
  background: $za-tag-warning-bg;
}

// 禁用
.za-tag__disabled {
  background: $za-tag-disabled-bg;
}
// 在线
.za-tag__online {
  padding-left: px2rem(36);
  background: $za-tag-success-bg url("/assets/za-tag-icons/wifi_online.jpg")
    no-repeat left px2rem(8) center / px2rem(20) px2rem(14);
}
// 离线
.za-tag__outline {
  padding-left: px2rem(36);
  background: $za-tag-disabled-bg url("/assets/za-tag-icons/wifi_outline.jpg")
    no-repeat left px2rem(8) center / px2rem(20) px2rem(14);
}
