.za-dialog__position {
  position: absolute;
  z-index: 999;
}

.za-dialog__theme-dark {
  background: $dialog-background-1;
  border: $dialog-border-1;
}

.za-dialog__theme-light {
  background: $dialog-background-2;
  border: $dialog-border-2;
}

.za-dialog__header {
  display: flex;
  padding: $blank-space-normal;

  .za-dialog__title {
    font-size: $text-normal-size;
    color: $dialog-title-color;
  }

  .za-dialog__expand {
    flex: auto;
    line-height: 0;
    text-align: right;

    & > * {
      margin-right: $blank-space-normal;
    }
  }
}
