.bottom-btn-group {
  line-height: 1;

  > a,
  > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: px2rem(34);
    height: px2rem(34);
    border-radius: px2rem(18);
    vertical-align: middle;
    margin: 0 px2rem(5);
    background-color: #0056ec;
  }

  .link-btn {
    font-size: px2rem(14);
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    padding: 0 px2rem(16);
  }

  .link-btn__active {
    color: $dialog-title-color;
    background: #615dce;
  }

  .logOut-btn {
    background-color: #cf0610;
  }
}
